@import "../../assets/colors.module.scss";

.userNameWrapper {
    background-color: $primary;
    padding: 0 32px;
    height: 84px;
    display: inline-flex;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: $white;
    align-items: center;
}

.initials {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-secondary;
    border-radius: 2px;
    margin-right: 16px;
}