@import "../../assets/colors.module.scss";
@import "../../assets/mixins.module.scss";

.primaryBtn {
    @include button();
    background-color: $primary;
    color: $white;

    &:hover {
        background-color: $primary-secondary;
    }
}

.secondaryBtn {
    @include button();
    background-color: $light;
    color: $secondary;

    &:hover {
        background-color: $medium;
    }
}

.errorBtn {
    @include button();
    color: $error;

    &:hover {
        border-color: $medium;
    }
}

.disabledBtn {
    background-color: $light;
    color: $gray;
    cursor: not-allowed;

    &:hover {
        background-color: $light;
        cursor: not-allowed;
    }
}